<div class="container mt-3">
  <h4>User Login Activities</h4>

  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error" class="text-danger">{{ error }}</div>

  <table *ngIf="!loading && !error" class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Date</th>
        <th>IP</th>
        <th>Email</th>
        <th>Login-Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{ log.timestamp | date : "short" }}</td>
        <td>{{ log.ipAddress }}</td>
        <td>{{ log.email }}</td>
        <td>
          <span
            class="badge"
            [class.bg-success]="log.attempt === 'Success'"
            [class.bg-danger]="log.attempt === 'Failed'"
          >
            {{ log.attempt }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
